services:
  zenbpm:
    image: ghcr.io/pbinitiative/zenbpm:latest
    ports:
      - "8080:8080"
      - "9090:9090"
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/8080'"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 10s

  zenbpm-ui:
    image: ghcr.io/pbinitiative/zenbpm-ui:demo_20260205_latest
    ports:
      - "9000:80"
    depends_on:
      zenbpm:
        condition: service_healthy
