include:
  - ../../../docker-compose.yml

services:
  deploy:
    image: curlimages/curl:latest
    depends_on:
      zenbpm:
        condition: service_healthy
    volumes:
      - .:/process:ro
    command: ["-sfS", "-X", "POST", "http://zenbpm:8080/v1/process-definitions", "-F", "resource=@/process/hello-world.bpmn"]

  log-worker:
    build: ../../workers/log-worker
    environment:
      ZENBPM_GRPC_ADDR: zenbpm:9090
    depends_on:
      zenbpm:
        condition: service_healthy
